// navbar css here 
.navbarComponent{
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.24);
  position: sticky;
  top: 0px;
  z-index: 5;

    .navlinkActive{
        border-bottom: 2px solid grey;
       
    }
    .navLink{
        font-weight: bold;
        a:hover{
            color: black;
        }
    }
    .shopIcon{
        font-size: 26px;
        color: black;
        cursor: pointer;
    }
}
// home banner css here 
.homeBannerComponent{

    .homeBanner{

        // height: 500px;
        object-fit: cover;
        object-position: top;

    }

}
// cart css 
.cartMain{
    width: 30%;
     padding: 20px;
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.507);
    background-color: white;
    z-index: 6;
    position: fixed;
    top: 0px;
    
    bottom: 0px;
    right: 0px;
    transform: translateX(100%);
    transition: all .5s;
    @media screen  and (max-width:500px){
        width: 100%;
        
    }
    #closeDivId{
        cursor: pointer;
    }

}
.showCart{
    transform: translateX(0%);
}

